.CheckoutProduct {
  display: flex;
  margin: 20px 20px;
}

.CheckoutProduct_info {
  padding: 2px 2px 2px 10px;
}

.CheckoutProduct_image {
  object-fit: contain;
  width: 140px;
  height: 130px;
}

.CheckoutProduct_info > button {
  background: #f0c14b;
  border: 1px solid;
  margin: 20px 0px 0px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 1px 6px;
  cursor: pointer;
}

.CheckoutProduct_rating {
  display: flex;
}

.CheckoutProduct_title {
  font-size: 18px;
  font-weight: 500;
}

.CheckoutProduct_price > strong {
  font-size: 13px;
}

@media (max-width: 700px) {
  .CheckoutProduct_title {
    font-size: 12px;
    font-weight: 400;
  }

  .CheckoutProduct_price > strong {
    font-size: 10px;
  }
  .CheckoutProduct_info > button {
  background: #f0c14b;
  border: 1px solid;
  margin: 20px 0px 0px;
  font-size: 10px;
}
}
